* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

/* Navbar section */

.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  top: 0;
}

.nav div.logo {
  width: 180px;
  height: 10px;
  position: absolute;
}

.nav div.logo a {
  text-decoration: none;
  color: #ffe92c;
  font-weight: bolder;
  font-size: 1.3em;
  text-transform: uppercase;
}

/* .nav div.logo a:hover {
  color: #c0c0c0;
} */

.nav div.main_list {
  width: 600px;
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 565px;
  display: flex;
  list-style: none;
}

.nav div.main_list ul li {
  width: 120px;
  height: 65px;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: aliceblue;
  line-height: 65px;
  text-transform: uppercase;
}

.nav div.main_list ul li a:hover {
  color: #998d8d;
}

.nav div.media_button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 12px;
  display: none;
}

.nav div.media_button button.main_media_button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: 0;
  border: none;
  cursor: pointer;
}

.nav div.media_button button.main_media_button span {
  width: 98%;
  height: 1px;
  display: block;
  background-color: #fff;
  margin-top: 9px;
  margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1) {
  transform: rotateY(180deg);
  transition: all 0.5s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2) {
  transform: rotateY(180deg);
  transition: all 0.4s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3) {
  transform: rotateY(180deg);
  transition: all 0.3s;
  background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
  display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -20deg);
}

/* Home section */

/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
  }

  .nav div.logo {
    margin-left: 15px;
  }

  .nav div.main_list {
    width: 100%;
    margin-top: 65px;
    height: 0px;
    overflow: hidden;
  }

  .nav div.show_list {
    height: 275px;
  }

  @media screen and (max-width: 768px) {
    .nav div.show_list {
      height: 600px;
    }
  }

  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 200px;
    top: 80px;
    right: 0;
    left: 0;
  }

  .nav div.main_list ul li {
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .nav div.main_list ul li a {
    text-align: center;
    line-height: 40px;
    width: 100%;
    height: 40px;
    display: table;
  }

  .nav div.media_button {
    display: block;
  }
}
.GoInputBox {
  display: inline-block;
  padding-left: 1.2rem;
  margin: 1rem;
}
input::placeholder {
  font-size: 7px;
  text-align: center;
}
#GO {
  background-color: #f4be1b;
  padding: 0.6rem 0.8rem;
  margin-left: -3px;

  -webkit-box-shadow: 0px 0px 10px -200px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: 0px 0px 10px -200px rgba(0, 0, 0, 0.79);
  box-shadow: 0px 0px 10px -200px rgba(0, 0, 0, 0.79);
}
.GoInputBox input {
  padding: 0.6rem 0.5rem;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(193, 184, 184, 0.79);
  -moz-box-shadow: 0px 0px 10px 0px rgba(193, 186, 186, 0.79);
  box-shadow: 0px 0px 10px 0px rgba(133, 129, 129, 0.79);
}
/* CAROUSEL CSS START */
.carouselDiv {
  display: flex;
}
.CAROUSELDIV:nth-child(2) {
  background-color: #87bdf3;
}
.CAROUSELDIV:nth-child(3) {
  background-color: #96f387;
}
.CAROUSELDIV:nth-child(4) {
  background-color: #a287f3;
}
.CAROUSELDIV:nth-child(5) {
  background-color: #f387ea;
}
.carouselDiv img {
  width: 8rem;
}
/*Set dimensions of all images*/
.gallery-img {
  width: 300px;
  height: 250px;
}

.carousel-container {
  position: relative;
  /*Hides images bleeding off page*/
  overflow: hidden;
  /*Centers div*/
  margin: auto;
  width: 100%;
  height: 250px;
}

.carousel-slide {
  /*Flex allows image to bleed to end*/
  display: flex;
  width: 100%;
  height: 250px;
}

#prevbutton {
  /*Bases position of button on parent*/
  position: absolute;
  top: 50%;
  /*Moves button back up half its size to vertically-align*/
  margin-top: -15px;
  left: 3%;
  /*Brings layer to top*/
  z-index: 10;
  color: #2f4f4f;
  font-size: 30px;
  cursor: pointer;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

#nextbutton {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 3%;
  z-index: 10;
  color: #2f4f4f;
  font-size: 30px;
  cursor: pointer;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
.carouselDiv img:hover {
  /* width: 9rem; */
  transform: scale(1.2);
}

.CAROUSELDIV {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* CAROUSEL CSS END */

/* HEADER CSS */
.header {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  background-color: #e8d908;
  color: black;
  border-radius: 1rem;
  margin: 1rem 0;
  border: none;
}
.main-img {
  width: 100%;
}
.playbutton {
  position: absolute;
  height: 5rem;
  top: 41%;
  left: 41%;
}
.founderVideo .founderimg {
  display: flex;
  margin: auto;
  border-radius: 3rem;
  /* filter: blur(2px); */
  /* opacity: 0.2; */
}

.founderimg {
  width: 19rem;
  height: 16rem;
}
.offering {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 1rem;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.2rem;
}
.offeringContents {
  width: 100%;
}
.a {
  background-color: aqua;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(255, 0, 255, 0.54);
  -moz-box-shadow: 0px 0px 17px 0px rgba(255, 0, 255, 0.54);
  box-shadow: 0px 0px 17px 0px rgba(255, 0, 255, 0.54);
}
.b {
  background-color: rgb(255, 170, 0);
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(255, 0, 255, 0.54);
  -moz-box-shadow: 0px 0px 17px 0px rgba(255, 0, 255, 0.54);
  box-shadow: 0px 0px 17px 0px rgba(255, 0, 255, 0.54);
}
.c {
  background-color: rgb(255, 0, 179);
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(255, 0, 255, 0.54);
  -moz-box-shadow: 0px 0px 17px 0px rgba(255, 0, 255, 0.54);
  box-shadow: 0px 0px 17px 0px rgba(255, 0, 255, 0.54);
}
.d {
  background-color: rgb(34, 255, 0);
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(255, 0, 255, 0.54);
  -moz-box-shadow: 0px 0px 17px 0px rgba(255, 0, 255, 0.54);
  box-shadow: 0px 0px 17px 0px rgba(255, 0, 255, 0.54);
}
.e {
  background-color: rgb(204, 132, 255);
  /* color: white; */
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(255, 0, 255, 0.54);
  -moz-box-shadow: 0px 0px 17px 0px rgba(255, 0, 255, 0.54);
  box-shadow: 0px 0px 17px 0px rgba(255, 0, 255, 0.54);
}
/* .contents:nth-child(3) {
  background-color: #94caff;
}
.contents:nth-child(2) {
  background-color: #fadb6a;
}
.contents:nth-child(4) {
  background-color: #90fb32;
} */

.offeringContents {
  /* border: 1px solid black;
  height: 4rem;
  width: 6rem;
  text-align: center;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; */
}
.resumeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resumeContainer h2,
.connection h2,
.branding h2,
.profileManagement h2,
.PresentationTools h2,
.Benefits h2,
.membership h2 {
  border-bottom: 2px solid rgb(70, 69, 69);
  text-align: center;
  width: fit-content;
  /* background-color: rgb(148, 233, 252); */
}

.headH2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resumeContainer ul {
  padding-left: 2rem;
  font-size: 1.1rem;
}
.resumeBtn {
  display: flex;
}
.resumeBtn button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  width: 8rem;
  height: 2.5rem;
  font-weight: bold;
  background-color: rgb(226, 192, 0);
  border-radius: 5px;
  border: none;
}
.resumeBtn button a {
  text-decoration: none;
  color: #000306;
}
.resumeBtn button:hover {
  border: 3px solid #ffe92c;
  background-color: whitesmoke;
}

.connection,
.branding,
.PresentationTools,
.Benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
  border: 1px solid black;
}
.connection ul {
  padding-left: 2rem;
  font-size: 1.1rem;
}

body {
  background: linear-gradient(
    45deg,
    #fbc8e6,
    #e8e8f7,
    #ceffce,
    #c3f8a8,
    #9cb1b4,
    #cfc0ef,
    #dadaff,
    #5ba05b,
    #fcfcadb6,
    #363030
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

/* BRANDING CSS */

.brandingText p {
  font-size: 1.1rem;
  margin: 0.9rem;
  text-align: center;
}
.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  /* margin: 1rem; */
}

.icon1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin: 0.2rem;
  border: 1px solid rgb(0, 0, 0);
  padding: 1rem;
  /* box-shadow: 0px 0px 26px -4px rgba(218, 216, 216, 0.69); */
  /* box-shadow: 10px 10px 10px rgba(250, 202, 202, 0.5); */

  width: 5.8rem;
  height: 6rem;
  text-align: center;
  font-size: 14px;
  /* background-color: #9fce96; */
}

.profileManagement {
  border: 1px solid black;
}

.Benefits ul {
  list-style: decimal;
  font-size: 1.2rem;
}
.membership {
  box-sizing: border-box;
  /* box-shadow: 0px 0px 26px -4px rgb(0 0 0 / 69%); */
  -webkit-box-shadow: inset 0px 0px 5px 5px rgba(204, 194, 204, 1);
  -moz-box-shadow: inset 0px 0px 5px 5px rgba(204, 194, 204, 1);
  box-shadow: inset 0px 0px 5px 5px rgba(204, 194, 204, 1);
  border-radius: 1rem;
  border: none;
  margin: 0.5rem 1.5rem;
  padding: 1rem 0;
}
.membership .ancurTag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #060000;
  margin-top: 1rem;
}
.membership .ancurTag button {
  color: #000306;
  font-size: 1rem;
  font-weight: bold;
  /* background-color: rgb(127, 165, 255); */
  border: none;
  padding: 0.5rem 1.7rem;
  border-radius: 1rem;
  /* box-shadow: 1px 5px 65px -4px rgb(0 0 0 / 69%); */
  -webkit-box-shadow: inset 0px 0px 5px 5px rgba(204, 194, 204, 1);
  -moz-box-shadow: inset 0px 0px 5px 5px rgba(204, 194, 204, 1);
  box-shadow: inset 0px 0px 5px 5px rgba(204, 194, 204, 1);
}
.youWillGet {
  /* box-shadow: 0px 0px 26px -4px rgb(0 0 0 / 69%); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 14rem;
  width: 17rem;
  margin: auto;
  gap: 0.6rem;
  margin-top: 0.5rem;
  /* border-radius: 2rem; */
}
.youWillGet button {
  width: 5rem;
  height: 2rem;
  /* font-weight: bold; */
  background-color: rgb(226, 192, 0);
  border-radius: 8px;
  border: none;
  /* box-shadow: 0px 0px 26px -4px rgb(0 0 0 / 69%); */
}

.youWillGet button:hover {
  border: 2px solid #ffe92c;
  background-color: whitesmoke;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
button {
  border: none;
  outline: none;
}

/* FOOOTER CSS */
footer {
  background-color: black;
  padding: 1rem;
}
.logoAndArrow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logoAndArrow img {
  height: 3rem;
  background-color: #ffffff;
  border-radius: 50%;
}
.span1 {
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
}
.span2 {
  font-weight: bold;
  font-size: 1.3rem;
  color: #ffe92c;
}
.fooText {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}
.fooText a {
  text-decoration: none;
  color: white;
}
.fooIcons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.iconImg {
  width: 2rem;
}
.newsletters {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid white;
  margin: 1rem;
  padding: 1rem;
}
.newsletters input {
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
  outline: none;
  border: none;
  border-radius: 1rem;
}
.newsletters span {
  text-decoration: none;
  color: #ffffff;
}
/* FOOTER CSS END */
/* @-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
} */

.mainContainer {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem 0.3rem;
}

button {
  border: none;
  outline: none;
  border-radius: 2rem;
}
